html, * {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee2b1;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main";
}

header {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 12px; */
    grid-area: header;
}



section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  grid-area: main;
}

aside {
    min-height: 100vh;
    position: absolute;
    right: 0;
    width: 30%;
    background-color: #eee2b1;
    box-shadow: -20px -5px 95px 0px rgba(0, 0, 0, 0.41);
}

.aside-hidden {
    display:none;
}

.aside-shown {
    display: block;
}


