html, * {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee2b1;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main sidebar";
}

header {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 12px; */
    grid-area: header;
}



section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  grid-area: main;
}

aside {
    grid-area: sidebar;
}


